<div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="idValue" (keyup)="onKey(idValue)" [value]="hideValue">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>


</div>


<div>
  <!-- [(ngModel)]="idValue" -->
  <!-- <input [(ngModel)]="idValue" (keyup)="onKey(idValue)"> -->

  <!-- <input #box (keyup)="onKey(box.value)"> -->
</div>



<hr>
<app-movie-list
  [showRotten]="true"
></app-movie-list>
